@import "../../styles/saas/variables";
@import "../../styles/saas/mixins";

.title {
  margin: 0 0 30px;
  @include text($nameFontFamily, 1.3em, 1.2);
  font-weight: 400;
  color: $textColor;
  text-transform: capitalize;
  letter-spacing: 3px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background-color: $textColor;
    width: 55px;
    height: 2px;
    left: 50%;
    bottom: 10px;
    transform: translate(-50%, 50%);
  }

  .title h2 {
    margin: 0;
    font-size: 1em;
  }
}




