.container {
    flex-wrap: wrap;
}

.mainBlock {
    height: 100vh;
    background-color: #5a6565;
}

.description {
    width: 300px;
    background-color: #f7f7f7;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #f7f7f7;
}